SAMBA_REALM=TEST.EPBIH.LAB
SAMBA_DOMAIN=TESTEPBIH
SAMBA_HOSTNAME=dc1
# Min. 8 znakova, velika/mala slova, broj i znak (Samba password policy).
SAMBA_ADMIN_PASSWORD=Promijeni-Me-2026!
SVC_BIND_PASSWORD=Bind-Lozinka-2026!
SEED_USER_PASSWORD=Test-Lozinka-2026!
SEED_MAIL_DOMAIN=test.epbih.lab
